@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Noto+Sans&display=swap');

$light-blue: #01A2FF;

@mixin reset {
    * {
        box-sizing: border-box;      
        margin: 0;
        padding: 0;
    }
}